.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
    margin:10px 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.bod{
    margin: 10px;
    width: 100%;
    padding:10px;
}